.main-header {
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
  outline: 1px solid #ff0000;
}

.page {
  margin: 0 auto;
  display: flex;
}

.page__body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .page__body {
    min-width: 768px;
  }
}
@media (min-width: 1220px) {
  .page__body {
    min-width: 1220px;
  }
}

.page__container {
  width: 320px;
}
@media (min-width: 768px) {
  .page__container {
    min-width: 708px;
  }
}
@media (min-width: 1220px) {
  .page__container {
    width: 1220px;
  }
}

.hero {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    align-items: flex-start;
  }
}

.hero__wrapper {
  background-color: #68b738;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 35px 0 35px;
  gap: 25px;
}
@media (min-width: 768px) {
  .hero__wrapper {
    padding: 65px 210px 0 35px;
    gap: 40px;
    background-color: #ffffff;
    color: #111111;
  }
}
@media (min-width: 1220px) {
  .hero__wrapper {
    padding: 110px 0 0 65px;
    gap: 40px;
    background-color: #ffffff;
    color: #111111;
  }
}

.hero__main-heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  width: 255px;
}
@media (min-width: 768px) {
  .hero__main-heading {
    text-align: left;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  width: 200px;
}
@media (min-width: 768px) {
  .hero__slogan {
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    width: 290px;
  }
}

.nutrition-programms {
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
}
@media (min-width: 768px) {
  .nutrition-programms {
    width: 708px;
  }
}
@media (min-width: 1220px) {
  .nutrition-programms {
    width: 1220px;
  }
}

.nutrition-programms__list {
  padding: 0;
}

.nutrition-programm {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .nutrition-programm {
    gap: 30px;
  }
}
@media (min-width: 1220px) {
  .nutrition-programm {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.nutrition-programm__item {
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .nutrition-programm__item {
    padding: 77px 316px 57px 52px;
  }
}
@media (min-width: 1220px) {
  .nutrition-programm__item {
    width: 570px;
  }
}

.nutrition-programm__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .nutrition-programm__title {
    font-size: 36px;
    margin: 0;
    margin-bottom: 24px;
    width: 250px;
  }
}
@media (min-width: 1220px) {
  .nutrition-programm__title {
    margin-bottom: 73px;
  }
}

.nutrition-programm__description {
  color: #454545;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 42px;
  width: 227px;
}
@media (min-width: 768px) {
  .nutrition-programm__description {
    width: 340px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }
}

.nutrition-programm__link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nutrition-programm__link {
    font-size: 20px;
  }
}

.advantages {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages {
    width: 708px;
  }
}

.advantages__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.advantages__list {
  list-style-type: none;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 26px;
  width: 200px;
  margin-left: auto;
  margin-bottom: 50px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantages__list {
    width: 640px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) {
  .advantages__item {
    width: 250px;
  }
}

.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;
}
@media (min-width: 768px) {
  .example {
    padding: 45px 0 101px 0;
    background-color: #ffffff;
    color: #000000;
  }
}

.example__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;
  width: 200px;
}
@media (min-width: 768px) {
  .example__title {
    width: 330px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  list-style-type: none;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    width: 708px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 52px;
  }
}

.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .example__list {
    display: flex;
    justify-content: space-between;
  }
}

.example__list-wrapper--value-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__list-wrapper--value-time {
    width: 370px;
    margin-bottom: 0;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__name {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  order: 1;
  margin: 0;
}
@media (min-width: 768px) {
  .example__name {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__value {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .example__value {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__value--price {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .example__value--price {
    font-size: 20px;
    line-height: 20px;
  }
}

.contacts__adress {
  display: flex;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .contacts__adress {
    padding: 60px 40px;
    justify-content: space-between;
  }
}

.contacts__text {
  color: #121212;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  width: 140px;
}
@media (min-width: 768px) {
  .contacts__text {
    font-size: 20px;
    line-height: 26px;
    width: 165px;
  }
}

.contacts__street {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  width: 140px;
}
@media (min-width: 768px) {
  .contacts__street {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: space-between;
  }
}

.social__list {
  list-style-type: none;
}

.main-catalog {
  width: 280px;
  margin: 0 auto;
}

.main-catalog__title-container {
  padding: 27px 17px 41px 0;
}

.main-catalog__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.main-product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-product__item {
  padding: 20px 0 25px 0;
}

.main-product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
  margin-bottom: 14px;
  margin-left: 140px;
}

.main-product__characteristic {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 21px;
  margin-left: auto;
}

.main-product__button--extra {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px;
}

.main-product__extra-main {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main-product__extra-taste {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
}

.main-product__item--extra {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  align-items: center;
}

.main-product__characteristic-wrapper {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.extra-product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.extra-product__main-title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  width: 230px;
}

.extra-product__title-container {
  padding: 25px 70px 36px 0;
}

.extra-product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.extra-product__characteristic {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.extra-product__item {
  display: flex;
  flex-direction: column;
  padding: 13px 0 19px 0;
  gap: 15px;
}

.extra-product__wrapper {
  display: flex;
  justify-content: space-between;
}

.present {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(104, 183, 56, 0.85);
}

.present__text {
  margin: 35px 0;
  padding: 187px 60px 43px 60px;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.form-container {
  width: 280px;
  margin: 0 auto;
}

.form-container__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.form-container__wrapper {
  padding: 21px 20px 39px 0;
  display: grid;
  gap: 37px;
}

.form-container__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  width: 226px;
}

.form-inner {
  margin-bottom: 24px;
}

.form-inner__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 14px;
}

.form-inner__name {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 26px 97px 49px 0;
}

.form-inner__item {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.form-inner__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-inner__input {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-inner--comments {
  display: flex;
  flex-direction: column;
}

.form-inner__comment {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form-inner--contacts {
  margin: 0;
}

.form-inner__label--comments {
  padding: 24px 179px 38px 0;
  font-size: 24px;
  line-height: 26px;
}

.checkbox__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.checkbox__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.checkbox__legend {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 36px 0;
  padding: 0;
}

.checkbox__item {
  margin-bottom: 13px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none;
}

.navigation__list {
  list-style-type: none;
  display: none;
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 436px;
    padding: 0;
  }
}
@media (min-width: 1220px) {
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 476px;
    padding: 0;
    color: #ffffff;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .navigation__toogle {
    display: none;
  }
}

.button {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #69b838;
  border: 0;
  cursor: pointer;
  width: 280px;
  padding: 10px 0;
}

.button--extra {
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: 768px) {
  .button {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }

  .button--programm-select {
    margin-left: 35px;
  }
}
@media (min-width: 1220px) {
  .button {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }

  .button--programm-select {
    margin-left: 65px;
  }
}
/*# sourceMappingURL=style.css.map */