.main-header {
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
* {
  box-sizing: border-box;
  outline: 1px solid #ff0000;
}

.page {
  margin: 0 auto;
  display: flex;
}

.page__body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__container {
  width: 320px;
}

@media (min-width: 768px) {
  .page__body {
    min-width: 768px;
  }

  .page__container {
    width: 708px;
    padding: 25px 30px 0 30px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    min-width: 1200px;
  }

  .page__container {
    width: 1200px;
    padding: 0 40px;
  }
}
.hero {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.hero-wrapper {
  background-color: #68b738;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 35px 0 35px;
  gap: 25px;
}

.hero__main-heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.nutrition-programms {
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
}

.nutrition-programms__list {
  padding: 0;
}

.nutrition-programm {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nutrition-programm__item {
  background-color: #f2f2f2;
}

.nutrition-programm__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.nutrition-programm__description {
  color: #454545;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.nutrition-programm__link {
  text-decoration: none;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.advantages {
  width: 280px;
  margin: 0 auto;
}

.advantages__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  gap: 40px;
}

.advantages__list {
  list-style-type: none;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 26px;
  width: 200px;
  margin-left: auto;
  margin-bottom: 50px;
}

.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;
}

.example__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  gap: 40px;
  margin-top: 0;
  margin-bottom: 40px;
}

.example__description {
  list-style-type: none;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__name {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  order: 1;
}

.example__value {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.example__value--price {
  font-size: 14px;
  line-height: 20px;
}

.contacts__adress {
  display: flex;
  padding: 26px 20px;
}

.contacts__text {
  color: #121212;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.contacts__street {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.social__list {
  list-style-type: none;
}

.main-catalog {
  width: 280px;
  margin: 0 auto;
}

.main-catalog__title-container {
  padding: 27px 17px 41px 0;
}

.main-catalog__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.main-product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-product__item {
  padding: 20px 0 25px 0;
}

.main-product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
  margin-bottom: 14px;
  margin-left: 140px;
}

.main-product__characteristic {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 21px;
  margin-left: auto;
}

.main-product__button--extra {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px;
}

.main-product__extra-main {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main-product__extra-taste {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
}

.main-product__item--extra {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  align-items: center;
}

.main-product__characteristic-wrapper {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.extra-product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.extra-product__main-title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  width: 230px;
}

.extra-product__title-container {
  padding: 25px 70px 36px 0;
}

.extra-product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.extra-product__characteristic {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.extra-product__item {
  display: flex;
  flex-direction: column;
  padding: 13px 0 19px 0;
  gap: 15px;
}

.extra-product__wrapper {
  display: flex;
  justify-content: space-between;
}

.present {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(104, 183, 56, 0.85);
}

.present__text {
  margin: 35px 0;
  padding: 187px 60px 43px 60px;
  text-align: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.form-container {
  width: 280px;
  margin: 0 auto;
}

.form-container__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

.form-container__wrapper {
  padding: 21px 20px 39px 0;
  display: grid;
  gap: 37px;
}

.form-container__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  width: 226px;
}

.form-inner {
  margin-bottom: 24px;
}

.form-inner__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 14px;
}

.form-inner__name {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 26px 97px 49px 0;
}

.form-inner__item {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.form-inner__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-inner__input {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form-inner--comments {
  display: flex;
  flex-direction: column;
}

.form-inner__comment {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form-inner--contacts {
  margin: 0;
}

.form-inner__label--comments {
  padding: 24px 179px 38px 0;
  font-size: 24px;
  line-height: 26px;
}

.checkbox__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.checkbox__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.checkbox__legend {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 36px 0;
  padding: 0;
}

.checkbox__item {
  margin-bottom: 13px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none;
}

.navigation__list {
  list-style-type: none;
  display: none;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 436px;
    padding: 0;
  }

  .navigation__toogle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navigation__list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 436px;
    padding: 0;
  }

  .navigation__toogle {
    display: none;
  }
}
.button {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #69b838;
  border: 0;
  cursor: pointer;
  width: 280px;
  padding: 10px 0;
}

.button--extra {
  background-color: #f2f2f2;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */