.container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.container--header {
  width: 280px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.container--hero {
  background-color: #68b738;
  width: 100%;
  margin-bottom: 135px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
  }
}
