.example {
  background-color: #eaeaea;
  padding: 25px 20px 43px 20px;

  @media (min-width: $tablet-width) {
    color: #000000;
    background: linear-gradient(to top, #eaeaea, #eaeaea 462px, transparent 462px, transparent 100%);
    padding-top: 45px;
    width: 100%;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    background: linear-gradient(to bottom, transparent, transparent 200px, #eaeaea 200px, #eaeaea 100%);
    width: 100%;
    padding-bottom: 75px;
    padding-top: 60px;
  }
}


.example__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 330px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      box-shadow: 100vw 0 0 0 #e6e6e6;
      width: 200vw;
      background-color: #e6e6e6;
      height: 1px;
      left: -200vw;
      top: -45px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;

    &::before {
      display: none;
    }
  }
}

.example__description {
  list-style-type: none;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 70px;
  }
}

.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 708px;
    column-gap: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    display: grid;
    width: 366px;
    column-gap: 42px;
    row-gap: 45px;
  }
}

.example__list-wrapper--value-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 370px;
    margin-bottom: 0;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__item--rows {
  grid-column: 1/-1;
  text-align: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    text-align: right;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-left: 137px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    width: 366px;
    margin-left: 0;
  }
}

.example__name {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  order: 1;
  width: 77px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -14px;
  z-index: 2;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 96px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__value {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
  outline: 1px solid #cdcdcd;
  width: 124px;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.example__value--price {
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  width: 188px;
  outline: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    flex-direction: row;
    gap: 0;
  }
}

.example__value--costs {
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  outline: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 224px;
  }
}

.example__container {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example__cats {
  display: grid;
  grid-template-columns: 140px 1fr;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px 1fr;
    width: 560px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: -233px;
  }
}

.example__slim-cat {
  overflow: auto;
  display: flex;
  justify-content: left;
}

.example__fat-cat {
  overflow: auto;
  display: flex;
  justify-content: left;
}

.example__cats-button {
  position: absolute;
  content: "";
  left: 50%;
  top: 40%;
  transform: translateX(-50%);

  &::after {
    content: "";
    width: 4px;
    height: 256px;
    background-color: #666666;
    display: flex;
    left: 19px;
    position: absolute;
    top: -105px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::after {
      height: 512px;
      top: -205px;
    }
  }
}

.example__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  position: relative;
  outline: 2px solid #666666;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#triangles");
    width: 24px;
    height: 18px;
    right: 50%;
    transform: translateX(55%);
    top: 12px;
  }

  @media (min-width: $tablet-width) {
    top: 24px;
  }
}
