.example {
  background-color: #eaeaea;
  padding: 25px 20px 316px 20px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 101px 0;
    background-color: #ffffff;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
    padding: 70px 0 75px 110px;
  }
}


.example__title {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 330px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.example__description {
  list-style-type: none;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }
}

.example__list-wrapper--value-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 370px;
    margin-bottom: 0;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__item--rows {
  grid-column: 1/-1;
  text-align: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    text-align: right;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.example__name {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  order: 1;
  width: 77px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -14px;
  z-index: 2;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
}

.example__value {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
  outline: 1px solid #cdcdcd;
  width: 124px;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.example__value--price {
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  width: 188px;
  outline: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 174px;
    text-align: right;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }
}

.example__value--costs {
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  outline: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
