.extra-product {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.extra-product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 895px;
  }
}

.extra-product__main-title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  max-width: 230px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    max-width: max-content;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.extra-product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 165px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 164px;
  }
}


.extra-product__characteristic {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.extra-product__item {
  display: flex;
  flex-direction: column;
  padding: 13px 0 19px 0;
  gap: 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 38px 28px 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0 17px 0;
    gap: 0;
  }
}

.extra-product__wrapper {
  display: flex;
  justify-content: space-between;
}

.extra-product__container {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-end;
  }
}

.extra-product__title-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    gap: 40px;
    margin-bottom: 80px;
  }

  &::before {
    content: "";
    height: 15px;
    width: calc(50% - 160px);
    border-bottom: 2px solid #68b738;

    @media (min-width: $tablet-width) {
      width: calc(50% - 354px);
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: calc(50% - 650px);
    }
  }

  &::after {
    content: "";
    height: 15px;
    width: 10px;
    border-bottom: 2px solid #68b738;
    flex-grow: 1;

    @media (min-width: $tablet-width) {
      height: 22px;
    }
  }
}
