.form-inner {
  display: flex;
  flex-direction: column;
}

.form-inner--container {
  gap: 24px;

  @media (min-width: $tablet-width) {
    gap: 72px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.form-inner__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form-inner__list--contacts {
  @media (min-width: $tablet-width) {
    display: grid;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.form-inner__name {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  max-width: 187px;
  margin-bottom: 35px;
  box-shadow: 20px 0 0 0 #ffffff, -20px 0 0 0 #ffffff;
  background-color: #ffffff;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    border-bottom: 2px solid #68b738;
    right: calc(100% + 20px);
    box-shadow: 100vw 0 0 0 #68b738;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: max-content;
    position: relative;
    box-shadow: 40px 0 0 0 #ffffff, -40px 0 0 0 #ffffff;
    background-color: #ffffff;
    margin-bottom: 76px;

    &::after {
      top: 22px;
    }
  }
}

.form-inner__item {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.form-inner__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: auto;
  margin-right: 13px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-inner__label--email {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/stack.svg#email");
    width: 21px;
    height: 20px;
    background-color: #000000;
    left: 247px;
    z-index: 2;
  }

  &:focus {
    &::after {
      background-color: #68b738;
    }
  }

  &:hover {
    &::after {
      background-color: #68b738;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 596px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 530px;
    }
  }
}


.form-inner__label--telephone {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    mask-image: url("../img/stack.svg#telephone");
    width: 21px;
    height: 20px;
    background-color: #000000;
    left: 247px;
    z-index: 2;
  }

  &:focus {
    &::after {
      background-color: #68b738;
    }
  }

  &:hover {
    &::after {
      background-color: #68b738;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 596px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 530px;
    }
  }
}

.form-inner__input {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 0 14px 15px;
  border: 0;
  outline: 1px solid #e7e7e7;
  position: relative;
  flex-grow: 1;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  & input::-webkit-contacts-auto-fill-button {
    opacity: 0;
  }

  &:focus {
    outline: 2px solid #444444;
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 0 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

/*
.form-inner__input--error {
  &:hover {
    outline: 2px solid #ff8282;
  }
}
*/


.form-inner--comments {
  display: flex;
  flex-direction: column;
}

.form-inner--contacts {
  margin: 0;
}

.form-inner__label--comments {
  margin: 0 0 38px 0;
  font-size: 24px;
  line-height: 26px;
  box-shadow: 20px 0 0 0 #ffffff, -20px 0 0 0 #ffffff;
  background-color: #ffffff;
  position: relative;
  width: 121px;
  text-transform: none;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    border-bottom: 2px solid #68b738;
    right: calc(100% + 20px);
    box-shadow: 100vw 0 0 0 #68b738;
    top: 15px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    box-shadow: 40px 0 0 0 #ffffff, -40px 0 0 0 #ffffff;
    background-color: #ffffff;
    width: 183px;
    margin-bottom: 87px;

    &::after {
      top: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-inner__input--comments {
  width: 280px;
  padding: 14px 14px 118px 15px;

  @media (min-width: $tablet-width) {
    width: 628px;
    padding: 11px 295px 134px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 9px 887px 136px 20px;
  }
}

.form-inner__comment {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    font-size: 16px;
    line-height: 16px;
  }
}

.form-inner__container-button {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 80px;
  }
}
