.hero {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.hero-wrapper {
  background-color: #68b738;
}

.hero__main-heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
