.main-product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-product__item {
  padding: 20px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
}

.main-product__characteristic {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
}

.main-product__button--extra {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px;
}

.main-product__extra-main {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main-product__extra-taste {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.main-product__item--extra {
  align-items: center;
}
