.main-product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-product__item {
  padding: 20px 0 25px 0;
}

.main-product__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
  margin-bottom: 14px;
  margin-left: 140px;
}

.main-product__characteristic {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 21px;
  margin-left: auto;
}

.main-product__button--extra {
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px 94px;
}

.main-product__extra-main {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.main-product__extra-taste {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
}

.main-product__item--extra {
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  align-items: center;
}

.main-product__characteristic-wrapper {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
