.main-header {
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  align-items: center;
  min-height: 31px;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.main-header--color {
  @media (min-width: $desktop-width) {
    position: relative;
    color: #ffffff;

    &::after {
      background-color: rgba(104, 183, 56, 0.85);
      position: absolute;
      content: "";
      width: 50%;
      height: 1216px;
      left: 50%;
      z-index: -1;
      background-image: url("../img/green-cat@1x.jpg");
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 1040px 700px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/green-cat@2x.jpg");
        background-repeat: no-repeat;
      }
    }
  }
}

.main-header--line {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    background-color: #d9d9d9;
    box-shadow: 100vw 0 0 0 #d9d9d9;
    bottom: 0;
    height: 1px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}

.main-header__logo {
  display: block;
  width: 33px;
  height: 38px;
  margin-right: 56px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
    margin-right: 15px;
  }
}

.main-header__logo-image {
  display: block;
}

.main-header__wordmark-link {
  background-image: url("../img/stack.svg#cat-energy-logo-text");
  width: 101px;
  height: 18px;
  display: inline-block;
  text-align: center;
  margin-right: 65px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-right: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 538px;
    width: 118px;
    height: 21px;
  }
}

.main-header__wordmark-link--footer {
  width: 128px;
  height: 24px;
  margin: auto;
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 416px;
  }
}
