.navigation__list {
  list-style-type: none;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 436px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 476px;
    padding: 0;
    color: #ffffff;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

.navigation__toogle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
