.nutrition-programms {
  color: #000000;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 82px 0 71px 0;
    margin-bottom: 0;
  }
}

.nutrition-programms__list {
  padding: 0;
}
