.nutrition-programm {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.nutrition-programm__item {
  background-color: #f2f2f2;
  padding: 30px 33px 22px 20px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    left: 20px;
    top: 24px;
  }

  @media (min-width: $tablet-width) {
    padding: 83px 316px 64px 52px;
    position: relative;

    &::after {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 445px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 66px 62px 55px;

    &::after {
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #68b738;
      left: 52px;
      top: 47px;
    }
  }
}

.nutrition-programm__item--slim {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#cat-logo-thin");
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 140px;
      height: 194px;
      top: 81px;
      left: 475px;
      background-image: url("../img/stack.svg#cat-logo-thin");
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 70px;
      height: 97px;
      top: 47px;
      left: 67px;
    }
  }
}

.nutrition-programm__item--pro {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#cat-logo-fat");
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 268px;
      height: 112px;
      top: 135px;
      left: 411px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 134px;
      height: 56px;
      top: 67px;
      left: 34px;
    }
  }
}

.nutrition-programm__title {
  color: #000000;
  font-family: var(--font-basic);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin: 0;
    margin-bottom: 24px;
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    margin-left: 162px;
  }
}

.nutrition-programm__description {
  color: #454545;
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 42px;
  width: 227px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    transform: translateX(-50%);
    left: 50%;
    bottom: -24px;
  }

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    margin-bottom: 33px;
  }
}

.nutrition-programm__link {
  text-decoration: none;
  color: #000000;
  font-family: var(--font-basic);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#arrow");
    width: 32px;
    height: 12px;
    right: -48px;
    top: 8px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;

    &::after {
      right: -59px;
      top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: -58px;
    }
  }
}

.nutrition-programm__link:active {
  opacity: 0.3;
}

.nutrition-programm__link:hover {
  &::after {
    width: 38px;
  }
}
