* {
  box-sizing: border-box;
  outline: 1px solid #ff0000;
}

.button {
  color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #69b838;
  border: 0;
  cursor: pointer;
}
